[buildout]
extends =
  zope.cfg
  versions.cfg

versions = versions

parts += 
  instance
  zopepy

[instance]
recipe = plone.recipe.zope2instance
debug-mode = off

eggs +=
  BeautifulSoup
  Products.BeakerSessionDataManager
  Products.LDAPMultiPlugins
  Products.LDAPUserFolder
  Products.MemcachedManager
  Products.PluggableAuthService
  Products.Reportek
  Products.ZMIntrospection
  RDFGrabber
  SmallObligations
  XMLRPCMethod
  eea.graylogger
  eea.rabbitmq.client
  eea.sentry
  eea.zeohealthcheck
  python-gettext
  python-memcached
  zipstream
  zope.globalrequest
  zope.i18n

zcml +=
  Products.Reportek
  eea.sentry
  eea.zeohealthcheck

[zopepy]
# installs a zopepy python interpreter that runs with your
# full Zope environment
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy
